.main {
    display: flex;
}

.sidebar {
    min-height: 100vh !important;
    width: 25vw;
    background-color: grey;
}

.menu {
    margin: 5vh;
    cursor: pointer;
}

.logo {
    margin-top: 5vh;
    width: 20vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.link {
    margin-left: 2vw;
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
    font-size: 1.5rem;
}

.mainPanel {
    width: 50vw;
}

.rightPanel {
    min-height: 100vh !important;
    width: 25vw;
    background-color: grey;
}

.mainHeader {
    height: 8vh;
    background-color: cadetblue;
}

.home {
    top: 100px;
    margin-bottom: 2vh;
    font-size: 4vh;
    font-weight: 600;
}

.createPost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: goldenrod;
}

textarea {
    resize: none;
}

.txtarea {
    margin-bottom: 10px;
}

.tweet_btn {
    border-radius: 10px;
    padding: 3px;
    background-color: aqua;
}

.postCard {
    background-color: chartreuse;
    border-radius: 10px;
    margin: 2rem;
    height: fit-content;
}

.postCardDiv {
    display: flex;
    width: 48vw;
    margin-top: 5vh;
    justify-content: center;
    justify-items: center;
    max-width: 44vw;
}

.dp {
    margin-top: 2vh;
    margin-left: 1vw;
    border-radius: 50%;
    height: 10vh;
}

.dp-name {
    display: flex;
    align-items: center;
}

.dp-text {
    margin-left: 1vw;
    margin-top: 2vh;
    font-weight: 700;
    font-size: 1.7rem;
}

.card-text {
    color: blue;
    padding-left: 5vw;
    padding-right: 2vw;
}